Repository calliecameron/copier-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lock, copier-forbidden-files, markdownlint, tombi-lint, tombi-format

.pre-commit-config.yaml:

default_stages:
  - pre-commit
  - pre-merge-commit
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-merge-commit
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.17
    hooks:
      - id: uv-lock
        name: "uv: sync"
  - repo: local
    hooks:
      - id: npm-lock
        name: "npm: sync"
        language: system
        entry: bash -c 'source "${NVM_DIR}/nvm.sh" && npm install'
        files: "^(package\\.json|package-lock\\.json)$"
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: forbid-submodules
        name: "general: forbid submodules"
      - id: check-added-large-files
        name: "general: check for added large files"
      - id: check-case-conflict
        name: "general: check for filename case conflicts"
      - id: check-illegal-windows-names
        name: "general: check for illegal windows filenames"
      - id: check-symlinks
        name: "general: check for broken symlinks"
      - id: destroyed-symlinks
        name: "general: check for destroyed symlinks"
      - id: check-executables-have-shebangs
        name: "general: check that executables have shebangs"
      - id: check-shebang-scripts-are-executable
        name: "general: check that files with shebangs are executable"
      - id: fix-byte-order-marker
        name: "general: check files don't have utf-8 byte order markers"
      - id: mixed-line-ending
        name: "general: check line endings are correct"
        args:
          - --fix=lf
      - id: end-of-file-fixer
        name: "general: check files end with a newline"
      - id: trailing-whitespace
        name: "general: check files don't have trailing whitespace"
      - id: check-merge-conflict
        name: "general: check for files with merge conflicts"
        args:
          - --assume-in-merge
      - id: check-vcs-permalinks
        name: "general: check vcs website links are permalinks"
  - repo: local
    hooks:
      - id: copier-forbidden-files
        name: "general: check for copier conflict files"
        entry: found copier update rejection files; review and remove them before merging
        language: fail
        files: "\\.rej$"
  - repo: local
    hooks:
      - id: prettier
        name: "general: prettier"
        language: system
        entry: bash -c 'source "${NVM_DIR}/nvm.sh" && npx prettier --write --ignore-unknown "${@}"' --
        types: [text]
  - repo: local
    hooks:
      - id: markdownlint
        name: "markdown: lint"
        language: system
        entry: bash -c 'source "${NVM_DIR}/nvm.sh" && npx markdownlint-cli2 --fix "${@}"' --
        types: [markdown]
  - repo: local
    hooks:
      - id: tombi-lint
        name: "toml: lint"
        language: system
        entry: uv run tombi lint
        types: [toml]
      - id: tombi-format
        name: "toml: format"
        language: system
        entry: uv run tombi format
        types: [toml]
  - repo: local
    hooks:
      - id: typos
        name: "general: spellcheck"
        language: system
        entry: uv run typos --write-changes --force-exclude
        types: [text]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: "general: check for committed secrets"
  - repo: local
    hooks:
      - id: gitlint
        name: "general: check commit message"
        language: system
        entry: uv run gitlint --staged --msg-filename
        stages: [commit-msg]

Make npm update properly
  .copier-answers.yml
  Makefile
  template/Makefile.jinja
Due: none

Make update_deps update node too
  .copier-answers.yml
  .nvmrc
  Makefile
  template/Makefile.jinja
Due: none

Tweak node updating
  .copier-answers.yml
  Makefile
  copier.yml
  template/Makefile.jinja
Due: none

Auto-detect default node version
  .copier-answers.yml
  copier.yml
  extensions/extensions.py
  template/{% if uses_npm %}.nvmrc{% endif %}.jinja
Due: none

Add a message after copy
  .copier-answers.yml
  copier.yml
Due: none

Fix npm invocations
  .copier-answers.yml
  .pre-commit-config.yaml
  Makefile
  copier.yml
  template/Makefile.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
Due: none

Factor out npm update commands
  .copier-answers.yml
  .template_scripts/npm_install_deps.sh
  .template_scripts/npm_update_deps.sh
  Makefile
  template/.template_scripts/{% if uses_npm %}npm_install_deps.sh{% endif %}.jinja
  template/.template_scripts/{% if uses_npm %}npm_update_deps.sh{% endif %}.jinja
  template/Makefile.jinja
Due: none

Factor out uv update commands
  .copier-answers.yml
  .template_scripts/uv_install_deps.sh
  .template_scripts/uv_update_deps.sh
  Makefile
  template/.template_scripts/{% if uses_uv %}uv_install_deps.sh{% endif %}.jinja
  template/.template_scripts/{% if uses_uv %}uv_update_deps.sh{% endif %}.jinja
  template/Makefile.jinja
Due: none

Make python dev dependencies exact
  .copier-answers.yml
  pyproject.toml
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  uv.lock
Due: tombi-lint, tombi-format

Make update_deps update all python things
  .copier-answers.yml
  .template_scripts/uv_outdated_deps.py
  .template_scripts/uv_update_deps.sh
  template/.template_scripts/{% if uses_uv %}uv_outdated_deps.py{% endif %}.jinja
  template/.template_scripts/{% if uses_uv %}uv_update_deps.sh{% endif %}.jinja
Due: none

Auto-detect python version
  .copier-answers.yml
  copier.yml
  extensions/extensions.py
  template/{% if uses_uv %}.python-version{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
Due: none

Fix python updating
  template/.template_scripts/{% if uses_uv %}uv_outdated_deps.py{% endif %}.jinja
Due: none

Actually fix python updating
  .copier-answers.yml
  .template_scripts/uv_outdated_deps.py
Due: none

Update deps
  uv.lock
Due: none

Add shellcheck
  .copier-answers.yml
  .pre-commit-config.yaml
  .shellcheckrc
  copier.yml
  pyproject.toml
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  template/{% if uses_shellcheck %}.shellcheckrc{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  uv.lock
Due: tombi-lint, tombi-format

Exclude copier answers from typos
  pyproject.toml
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
Due: tombi-lint, tombi-format

Make vscode use local shellcheck
  .copier-answers.yml
  .vscode/settings.json
  copier.yml
  template/.vscode/settings.json.jinja
Due: none

Add shfmt
  .copier-answers.yml
  .editorconfig
  .pre-commit-config.yaml
  copier.yml
  template/.editorconfig.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
Due: none

Update deps
  pyproject.toml
  uv.lock
Due: tombi-lint, tombi-format

Refactor extensions
  extensions/extensions.py
Due: none

Update deps
  package-lock.json
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
Due: npm-lock

Improve python autodetection
  .copier-answers.yml
  copier.yml
  extensions/extensions.py
  template/{% if uses_uv %}.python-version{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
Due: none

Improve node autodetection
  .copier-answers.yml
  copier.yml
  extensions/extensions.py
  template/{% if uses_npm %}.nvmrc{% endif %}.jinja
Due: none

Add ruff
  .copier-answers.yml
  .gitignore
  .pre-commit-config.yaml
  .template_scripts/uv_outdated_deps.py
  copier.yml
  extensions/extensions.py
  pyproject.toml
  template/.gitignore.jinja
  template/.template_scripts/{% if uses_uv %}uv_outdated_deps.py{% endif %}.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  uv.lock
Due: tombi-lint, tombi-format

Fix formatting in makefile and editorconfig
  template/.editorconfig.jinja
  template/Makefile.jinja
Due: none

Add mypy
  .copier-answers.yml
  .gitignore
  .pre-commit-config.yaml
  copier.yml
  pyproject.toml
  template/.gitignore.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  uv.lock
Due: tombi-lint, tombi-format

Handle ruff and mypy caches in makefile
  .copier-answers.yml
  Makefile
  template/Makefile.jinja
Due: none

Handle pycache
  .copier-answers.yml
  .gitignore
  Makefile
  template/.gitignore.jinja
  template/Makefile.jinja
Due: none

Add yamllint
  .copier-answers.yml
  .pre-commit-config.yaml
  .yamllint.yml
  copier.yml
  pyproject.toml
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  template/{% if uses_yamllint %}.yamllint.yml{% endif %}.jinja
  uv.lock
Due: tombi-lint, tombi-format

Add stylelint
  .copier-answers.yml
  .pre-commit-config.yaml
  .stylelintignore
  copier.yml
  package-lock.json
  package.json
  template/{% if uses_npm %}package.json{% endif %}.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  template/{% if uses_stylelint %}.stylelintignore{% endif %}.jinja
Due: npm-lock

Update deps
  .copier-answers.yml
  pyproject.toml
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  uv.lock
Due: tombi-lint, tombi-format

Add eslint
  .copier-answers.yml
  .pre-commit-config.yaml
  copier.yml
  eslint.config.mjs
  package-lock.json
  package.json
  template/{% if uses_eslint %}eslint.config.mjs{% endif %}.jinja
  template/{% if uses_npm %}package.json{% endif %}.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
Due: npm-lock

Add html-validate
  .copier-answers.yml
  .htmlvalidate.json
  .htmlvalidateignore
  .pre-commit-config.yaml
  copier.yml
  package-lock.json
  package.json
  template/{% if uses_htmlvalidate %}.htmlvalidate.json{% endif %}.jinja
  template/{% if uses_htmlvalidate %}.htmlvalidateignore{% endif %}.jinja
  template/{% if uses_npm %}package.json{% endif %}.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
Due: npm-lock

Update deps
  .pre-commit-config.yaml
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: npm-lock, tombi-lint, tombi-format

Move tool config into extension
  .copier-answers.yml
  copier.yml
  extensions/extensions.py
  pyproject.toml
  template/{% if uses_npm %}package.json{% endif %}.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  uv.lock
Due: tombi-lint, tombi-format

Move more tool config into extension
  .copier-answers.yml
  copier.yml
  extensions/extensions.py
Due: none

Merge expansion methods
  .copier-answers.yml
  copier.yml
  extensions/extensions.py
Due: none

Make config expansion reusable
  .copier-answers.yml
  copier.yml
  extensions/extensions.py
Due: none

Stage config expansion
  .copier-answers.yml
  copier.yml
  extensions/extensions.py
Due: none

Only ask questions when needed
  .copier-answers.yml
  copier.yml
Due: none
