Repository calliecameron/copier-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lock, copier-forbidden-files, eslint, htmlvalidate, stylelint, markdownlint, yamllint, tombi-lint, tombi-format

npm-lock:
  name: 'npm: sync'
  language: system
  entry: bash -c 'source "${NVM_DIR}/nvm.sh" && nvm exec --silent npm install'
  pass_filenames: false

copier-forbidden-files:
  name: 'general: check for copier conflict files'
  entry: found copier update rejection files; review and remove them before merging
  language: fail

eslint:
  name: 'javascript: lint'
  language: system
  entry: bash -c 'source "${NVM_DIR}/nvm.sh" && nvm exec --silent npx eslint --fix "${@}"' --

htmlvalidate:
  name: 'html: lint'
  language: system
  entry: bash -c 'source "${NVM_DIR}/nvm.sh" && nvm exec --silent npx html-validate "${@}"' --

stylelint:
  name: 'css: lint'
  language: system
  entry: bash -c 'source "${NVM_DIR}/nvm.sh" && nvm exec --silent npx stylelint --fix "${@}"' --

markdownlint:
  name: 'markdown: lint'
  language: system
  entry: bash -c 'source "${NVM_DIR}/nvm.sh" && nvm exec --silent npx markdownlint-cli2 --fix "${@}"' --

yamllint:
  name: 'yaml: lint'
  language: system
  entry: uv run yamllint --strict

tombi-lint:
  name: 'toml: lint'
  language: system
  entry: uv run tombi lint

tombi-format:
  name: 'toml: format'
  language: system
  entry: uv run tombi format

Clean up config definition
  .copier-answers.yml
  extensions/extensions.py
Due: yamllint

Detect file types
  .copier-answers.yml
  copier.yml
  extensions/extensions.py
  pyproject.toml
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  uv.lock
Due: yamllint, tombi-lint, tombi-format

Merge tag lists
  .copier-answers.yml
  .pre-commit-config.yaml
  copier.yml
  extensions/extensions.py
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
Due: yamllint

Add npm license checker
  .copier-answers.yml
  .pre-commit-config.yaml
  package-lock.json
  package.json
  template/{% if uses_npm %}package.json{% endif %}.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
Due: npm-lock, yamllint

Update deps
  package-lock.json
Due: npm-lock

Add python license checker
  .copier-answers.yml
  .pre-commit-config.yaml
  pyproject.toml
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  uv.lock
Due: yamllint, tombi-lint, tombi-format

Rename some template scripts
  .copier-answers.yml
  .template_scripts/npm_install_deps
  .template_scripts/npm_update_deps
  .template_scripts/uv_install_deps
  .template_scripts/uv_update_deps
  Makefile
  template/.template_scripts/{% if uses_npm %}npm_install_deps{% endif %}.jinja
  template/.template_scripts/{% if uses_npm %}npm_update_deps{% endif %}.jinja
  template/.template_scripts/{% if uses_uv %}uv_install_deps{% endif %}.jinja
  template/.template_scripts/{% if uses_uv %}uv_update_deps{% endif %}.jinja
  template/Makefile.jinja
Due: yamllint

Make autodetect handle missing files
  extensions/extensions.py
Due: none

Makefile updates
  .copier-answers.yml
  .pre-commit-config.yaml
  Makefile
  copier.yml
  template/Makefile.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
Due: yamllint

Add bats
  .copier-answers.yml
  .template_scripts/bats
  Makefile
  copier.yml
  extensions/extensions.py
  package-lock.json
  package.json
  template/.template_scripts/{% if uses_bats %}bats{% endif %}.jinja
  template/Makefile.jinja
  template/{% if uses_npm %}package.json{% endif %}.jinja
  tests/placeholder
Due: npm-lock, yamllint

Update deps
  pyproject.toml
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  uv.lock
Due: tombi-lint, tombi-format

Add pytest
  .copier-answers.yml
  .gitignore
  Makefile
  copier.yml
  extensions/extensions.py
  pyproject.toml
  template/.gitignore.jinja
  template/Makefile.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  tests/dummy_test.py
  tests/placeholder
  uv.lock
Due: yamllint, tombi-lint, tombi-format

Add a dummy bats test
  .copier-answers.yml
  tests/dummy_test.bats
Due: yamllint

Tweak bats dummy test
  tests/dummy_test.bats
Due: none

Add template scripts to tool dependencies
  extensions/extensions.py
Due: none

Add pytest_cache to make clean
  template/Makefile.jinja
Due: none

Add python package support
  .copier-answers.yml
  Makefile
  copier.yml
  pyproject.toml
  template/{% if has_test_dir %}tests{% endif %}/.gitkeep
  template/{% if is_python_package %}src{% endif %}/{{ project_name_slug }}/__init__.py.jinja
  template/{% if is_python_package %}src{% endif %}/{{ project_name_slug }}/py.typed.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  tests/.gitkeep
Due: yamllint, tombi-lint, tombi-format

Add coverage
  .copier-answers.yml
  .gitignore
  Makefile
  pyproject.toml
  template/.gitignore.jinja
  template/Makefile.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  uv.lock
Due: yamllint, tombi-lint, tombi-format

Tweak ruff ignores for non-packages
  .copier-answers.yml
  extensions/extensions.py
  pyproject.toml
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  tests/dummy_test.py
Due: yamllint, tombi-lint, tombi-format

Add template badge
  .copier-answers.yml
  README.md
  template/README.md.jinja
Due: markdownlint, yamllint

Rename template_scripts
  .copier-answers.yml
  .template_files/bats
  .template_files/npm_install_deps
  .template_files/npm_update_deps
  .template_files/uv_install_deps
  .template_files/uv_outdated_deps.py
  .template_files/uv_update_deps
  Makefile
  extensions/extensions.py
  template/.template_files/{% if uses_bats %}bats{% endif %}.jinja
  template/.template_files/{% if uses_npm %}npm_install_deps{% endif %}.jinja
  template/.template_files/{% if uses_npm %}npm_update_deps{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_install_deps{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_outdated_deps.py{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_update_deps{% endif %}.jinja
  template/Makefile.jinja
Due: yamllint

Add example tests
  .copier-answers.yml
  template/{% if has_test_dir %}tests{% endif %}/.gitkeep
  template/{% if has_test_dir %}tests{% endif %}/{% if uses_bats %}example_test.bats{% endif %}.jinja
  template/{% if has_test_dir %}tests{% endif %}/{% if uses_pytest %}example_test.py{% endif %}.jinja
  tests/.gitkeep
  tests/dummy_test.py
  tests/example_test.bats
  tests/example_test.py
Due: yamllint

Ignore some ruff pytest warnings
  .copier-answers.yml
  pyproject.toml
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
Due: yamllint, tombi-lint, tombi-format

Test extensions
  extensions/extensions.py
  pyproject.toml
  tests/extensions_test.py
  uv.lock
Due: tombi-lint, tombi-format

More thorough tool detection
  .copier-answers.yml
  extensions/extensions.py
  tests/extensions_test.py
Due: yamllint

Fix new project errors
  .copier-answers.yml
  copier.yml
  extensions/extensions.py
  pyproject.toml
  template/{% if has_test_dir %}tests{% endif %}/{% if uses_pytest %}__init__.py{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  tests/__init__.py
  tests/extensions_test.py
Due: yamllint, tombi-lint, tombi-format

Refactor
  extensions/extensions.py
Due: none

Factor out package definitions
  .copier-answers.yml
  .pre-commit-config.yaml
  copier.yml
  extensions/extensions.py
  pyproject.toml
  template/{% if uses_npm %}package.json{% endif %}.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  tests/extensions_test.py
Due: yamllint, tombi-lint, tombi-format

Add github actions
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  copier.yml
  extensions/extensions.py
  pyproject.toml
  template/{% if uses_github_actions %}.github{% endif %}/workflows/ci.yml.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  uv.lock
Due: yamllint, tombi-lint, tombi-format

Debug github action
  .copier-answers.yml
  .github/workflows/ci.yml
  template/{% if uses_github_actions %}.github{% endif %}/workflows/ci.yml.jinja
Due: yamllint

Add github action badge
  .copier-answers.yml
  README.md
  copier.yml
  template/README.md.jinja
Due: markdownlint, yamllint

Remove jq dependency
  .copier-answers.yml
  .template_files/uv_latest_python.py
  .template_files/uv_update_deps
  template/.template_files/{% if uses_uv %}uv_latest_python.py{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_update_deps{% endif %}.jinja
Due: yamllint

Add gha-update
  .copier-answers.yml
  .github/workflows/ci.yml
  Makefile
  copier.yml
  extensions/extensions.py
  pyproject.toml
  template/Makefile.jinja
  template/{% if uses_github_actions %}.github{% endif %}/workflows/ci.yml.jinja
  uv.lock
Due: yamllint, tombi-lint, tombi-format

Update deps
  package-lock.json
  uv.lock
Due: npm-lock

Add requirements.txt export
  .copier-answers.yml
  .pre-commit-config.yaml
  copier.yml
  requirements.txt
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
Due: yamllint

Add readme
  .copier-answers.yml
  README.md
Due: markdownlint, yamllint

Add installation tests
  copier.yml
  tests/install_test.bats
Due: yamllint

Path conditions:
  npm-lock: any of: ^(package\.json|package-lock\.json)$
  copier-forbidden-files: any of: \.rej$
  eslint: any of: \.(js|mjs|cjs)$
  htmlvalidate: any of: \.(html|htm|xhtml)$
  stylelint: any of: \.css$
  markdownlint: any of: \.(md|markdown|mdown)$
  yamllint: any of: \.(yaml|yml)$
  tombi-lint: any of: \.toml$
  tombi-format: any of: \.toml$
