Repository calliecameron/copier-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lock, copier-forbidden-files, eslint, htmlvalidate, stylelint, markdownlint, yamllint, tombi-lint, tombi-format

Path conditions:
  npm-lock: any of: ^(package\.json|package-lock\.json)$
  copier-forbidden-files: any of: \.rej$
  eslint: any of: \.(js|mjs|cjs)$
  htmlvalidate: any of: \.(html|htm|xhtml)$
  stylelint: any of: \.css$
  markdownlint: any of: \.(md|markdown|mdown)$
  yamllint: any of: \.(yaml|yml)$
  tombi-lint: any of: \.toml$
  tombi-format: any of: \.toml$

Support tagging slow tests
  .copier-answers.yml
  Makefile
  extensions/extensions.py
  pyproject.toml
  template/Makefile.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  tests/extensions_test.py
  tests/install_test.bats
  uv.lock
Due: yamllint, tombi-lint, tombi-format

Fix git warnings
  tests/install_test.bats
Due: none

Debug github action
  tests/install_test.bats
Due: none

Fix github action
  tests/install_test.bats
Due: none

Add test data for all formats
  .copier-answers.yml
  testdata/test.css
  testdata/test.html
  testdata/test.js
  testdata/test.json
  testdata/test.md
  testdata/test.py
  testdata/test.sh
  testdata/test.toml
  testdata/test.yml
Due: eslint, htmlvalidate, stylelint, markdownlint, yamllint, tombi-lint, tombi-format

Only create requirements.txt when needed
  copier.yml
Due: yamllint

Tweak tests
  tests/install_test.bats
Due: none

Make bats output work better in CI
  .copier-answers.yml
  .github/workflows/ci.yml
  Makefile
  template/Makefile.jinja
  template/{% if uses_github_actions %}.github{% endif %}/workflows/ci.yml.jinja
Due: yamllint

Split out post-install scripts
  .copier-answers.yml
  .template_files/npm_post_install
  .template_files/uv_post_install
  copier.yml
  template/.template_files/{% if uses_npm %}npm_post_install{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_post_install{% endif %}.jinja
Due: yamllint

Configure uv
  .copier-answers.yml
  pyproject.toml
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
Due: yamllint, tombi-lint, tombi-format

Split update scripts
  .copier-answers.yml
  .template_files/npm_update_deps
  .template_files/npm_update_node
  .template_files/uv_update_deps
  .template_files/uv_update_python
  Makefile
  template/.template_files/{% if uses_npm %}npm_update_deps{% endif %}.jinja
  template/.template_files/{% if uses_npm %}npm_update_node{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_update_deps{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_update_python{% endif %}.jinja
  template/Makefile.jinja
Due: yamllint

Make sure uv always installs everything
  .copier-answers.yml
  .pre-commit-config.yaml
  .template_files/uv_install_deps
  .template_files/uv_post_install
  .template_files/uv_update_deps
  .template_files/uv_update_python
  template/.template_files/{% if uses_uv %}uv_install_deps{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_post_install{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_update_deps{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_update_python{% endif %}.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
Due: yamllint

Fix python deps updating
  .copier-answers.yml
  .template_files/uv_outdated_deps.py
  .template_files/uv_update_deps
  .template_files/uv_update_deps_internal.py
  extensions/extensions.py
  pyproject.toml
  template/.template_files/{% if uses_uv %}uv_outdated_deps.py{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_update_deps_internal.py{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_update_deps{% endif %}.jinja
  uv.lock
Due: yamllint, tombi-lint, tombi-format

Add more metadata
  .copier-answers.yml
  package-lock.json
  package.json
  pyproject.toml
  template/{% if uses_npm %}package.json{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
Due: npm-lock, yamllint, tombi-lint, tombi-format

Remove python line length option
  .copier-answers.yml
  copier.yml
  pyproject.toml
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  tests/install_test.bats
Due: yamllint, tombi-lint, tombi-format

Add bump-my-version
  .copier-answers.yml
  .pre-commit-config.yaml
  copier.yml
  extensions/extensions.py
  pyproject.toml
  template/{% if is_python_package %}src{% endif %}/{{ project_name_slug }}/__init__.py.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  tests/install_test.bats
  uv.lock
Due: yamllint, tombi-lint, tombi-format

Update version in pyproject.toml
  pyproject.toml
  uv.lock
Due: tombi-lint, tombi-format

Add missing dep to makefile
  .copier-answers.yml
  Makefile
  template/Makefile.jinja
Due: yamllint

Prepare for more autodetection
  extensions/extensions.py
  tests/extensions_test.py
Due: none

More autodetection
  .copier-answers.yml
  copier.yml
  extensions/extensions.py
  template/{% if is_python_package %}src{% endif %}/{{ project_name_slug }}/__init__.py.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  tests/extensions_test.py
Due: yamllint

Update deps
  .github/workflows/ci.yml
  extensions/extensions.py
  package-lock.json
  pyproject.toml
  template/{% if uses_github_actions %}.github{% endif %}/workflows/ci.yml.jinja
  uv.lock
Due: npm-lock, yamllint, tombi-lint, tombi-format

Fix CI
  tests/install_test.bats
Due: none

Fix printing to stderr
  .copier-answers.yml
  .template_files/npm_install_deps
  .template_files/npm_post_install
  .template_files/npm_update_deps
  .template_files/npm_update_node
  .template_files/uv_install_deps
  .template_files/uv_post_install
  .template_files/uv_update_deps
  .template_files/uv_update_python
  template/.template_files/{% if uses_npm %}npm_install_deps{% endif %}.jinja
  template/.template_files/{% if uses_npm %}npm_post_install{% endif %}.jinja
  template/.template_files/{% if uses_npm %}npm_update_deps{% endif %}.jinja
  template/.template_files/{% if uses_npm %}npm_update_node{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_install_deps{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_post_install{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_update_deps{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_update_python{% endif %}.jinja
Due: yamllint

Add tag validation
  .copier-answers.yml
  .template_files/pre_commit_install
  .template_files/pre_push
  Makefile
  template/.template_files/{% if uses_pre_commit %}pre_commit_install{% endif %}.jinja
  template/.template_files/{% if uses_pre_commit %}pre_push{% endif %}.jinja
  template/Makefile.jinja
Due: yamllint

Update deps
  .copier-answers.yml
  extensions/extensions.py
  pyproject.toml
  uv.lock
Due: yamllint, tombi-lint, tombi-format

Bump version
  pyproject.toml
  uv.lock
Due: tombi-lint, tombi-format

Fix python package naming
  .copier-answers.yml
  copier.yml
  template/{% if is_python_package %}src{% endif %}/{{ project_name_slug_underscore }}/__init__.py.jinja
  template/{% if is_python_package %}src{% endif %}/{{ project_name_slug_underscore }}/py.typed.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
Due: yamllint

Set uv version dynamically
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  copier.yml
  extensions/extensions.py
  pyproject.toml
  template/{% if uses_github_actions %}.github{% endif %}/workflows/ci.yml.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  tests/extensions_test.py
  uv.lock
Due: yamllint, tombi-lint, tombi-format

Improve update logic
  .copier-answers.yml
  Makefile
  template/Makefile.jinja
Due: yamllint

Support python 3.14
  .copier-answers.yml
  .github/workflows/ci.yml
  .nvmrc
  .python-version
  .template_files/uv_update_deps_internal.py
  extensions/extensions.py
  package-lock.json
  package.json
  pyproject.toml
  template/.template_files/{% if uses_uv %}uv_update_deps_internal.py{% endif %}.jinja
  template/{% if uses_github_actions %}.github{% endif %}/workflows/ci.yml.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  tests/extensions_test.py
  uv.lock
Due: npm-lock, yamllint, tombi-lint, tombi-format

Move more things into metadata
  .copier-answers.yml
  copier.yml
  extensions/extensions.py
  tests/extensions_test.py
Due: yamllint
