Repository calliecameron/copier-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lock, copier-forbidden-files, eslint, htmlvalidate, stylelint, markdownlint, yamllint, tombi-lint, tombi-format

npm-lock:
  name: 'npm: sync'
  language: system
  entry: bash -c 'source "${NVM_DIR}/nvm.sh" && nvm exec --silent npm install'
  pass_filenames: false

copier-forbidden-files:
  name: 'general: check for copier conflict files'
  entry: found copier update rejection files; review and remove them before merging
  language: fail

eslint:
  name: 'javascript: lint'
  language: system
  entry: bash -c 'source "${NVM_DIR}/nvm.sh" && nvm exec --silent npx eslint --fix "${@}"' --

htmlvalidate:
  name: 'html: lint'
  language: system
  entry: bash -c 'source "${NVM_DIR}/nvm.sh" && nvm exec --silent npx html-validate "${@}"' --

stylelint:
  name: 'css: lint'
  language: system
  entry: bash -c 'source "${NVM_DIR}/nvm.sh" && nvm exec --silent npx stylelint --fix "${@}"' --

markdownlint:
  name: 'markdown: lint'
  language: system
  entry: bash -c 'source "${NVM_DIR}/nvm.sh" && nvm exec --silent npx markdownlint-cli2 --fix "${@}"' --

yamllint:
  name: 'yaml: lint'
  language: system
  entry: uv run yamllint --strict

tombi-lint:
  name: 'toml: lint'
  language: system
  entry: uv run tombi lint

tombi-format:
  name: 'toml: format'
  language: system
  entry: uv run tombi format

Support multiple python versions
  .copier-answers.yml
  .pre-commit-config.yaml
  .template_files/uv_latest_python.py
  .template_files/uv_update_python
  Makefile
  README.md
  copier.yml
  extensions/extensions.py
  pyproject.toml
  template/.template_files/{% if uses_uv %}uv_latest_python.py{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_update_python{% endif %}.jinja
  template/Makefile.jinja
  template/README.md.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  template/{% if uses_uv %}.python-version{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  tests/extensions_test.py
  tests/install_test.bats
  uv.lock
Due: markdownlint, yamllint, tombi-lint, tombi-format

Update deps
  uv.lock
Due: none

Tweak readme
  .copier-answers.yml
  README.md
  template/README.md.jinja
Due: markdownlint, yamllint

Bump version
  pyproject.toml
  uv.lock
Due: tombi-lint, tombi-format

Tweak multi python config
  .copier-answers.yml
  .pre-commit-config.yaml
  Makefile
  template/Makefile.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  tests/install_test.bats
Due: yamllint

Add ast-grep
  .ast_grep/rules/.gitkeep
  .ast_grep/rules/no-raise-notimplementederror-in-special-method.yml
  .ast_grep/tests/.gitkeep
  .ast_grep/tests/__snapshots__/.gitkeep
  .ast_grep/tests/__snapshots__/no-raise-notimplementederror-in-special-method-snapshot.yml
  .ast_grep/tests/no-raise-notimplementederror-in-special-method-test.yml
  .copier-answers.yml
  .pre-commit-config.yaml
  .prettierignore
  .yamllint.yml
  Makefile
  copier.yml
  extensions/extensions.py
  pyproject.toml
  sgconfig.yml
  template/Makefile.jinja
  template/{% if uses_ast_grep %}.ast_grep{% endif %}/rules/.gitkeep
  template/{% if uses_ast_grep %}.ast_grep{% endif %}/rules/{% if has_python %}no-raise-notimplementederror-in-special-method.yml{% endif %}.jinja
  template/{% if uses_ast_grep %}.ast_grep{% endif %}/tests/.gitkeep
  template/{% if uses_ast_grep %}.ast_grep{% endif %}/tests/__snapshots__/.gitkeep
  template/{% if uses_ast_grep %}.ast_grep{% endif %}/tests/__snapshots__/{% if has_python %}no-raise-notimplementederror-in-special-method-snapshot.yml{% endif %}.jinja
  template/{% if uses_ast_grep %}.ast_grep{% endif %}/tests/{% if has_python %}no-raise-notimplementederror-in-special-method-test.yml{% endif %}.jinja
  template/{% if uses_ast_grep %}sgconfig.yml{% endif %}.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  template/{% if uses_prettier %}.prettierignore{% endif %}.jinja
  template/{% if uses_yamllint %}.yamllint.yml{% endif %}.jinja
  tests/extensions_test.py
  uv.lock
Due: yamllint, tombi-lint, tombi-format

Disable built-in makefile rules
  .copier-answers.yml
  Makefile
  template/Makefile.jinja
Due: yamllint

Configure ast-grep in vscode
  .copier-answers.yml
  .vscode/settings.json
  template/.vscode/settings.json.jinja
Due: yamllint

Improve ast-grep rule
  .ast_grep/rules/.gitkeep
  .ast_grep/rules/special-method-raises-notimplementederror.yml
  .ast_grep/tests/.gitkeep
  .ast_grep/tests/__snapshots__/.gitkeep
  .ast_grep/tests/__snapshots__/special-method-raises-notimplementederror-snapshot.yml
  .ast_grep/tests/special-method-raises-notimplementederror-test.yml
  .copier-answers.yml
  template/{% if uses_ast_grep %}.ast_grep{% endif %}/rules/.gitkeep
  template/{% if uses_ast_grep %}.ast_grep{% endif %}/rules/{% if has_python %}special-method-raises-notimplementederror.yml{% endif %}.jinja
  template/{% if uses_ast_grep %}.ast_grep{% endif %}/rules/{% if not has_python %}.gitkeep{% endif %}.jinja
  template/{% if uses_ast_grep %}.ast_grep{% endif %}/tests/.gitkeep
  template/{% if uses_ast_grep %}.ast_grep{% endif %}/tests/__snapshots__/.gitkeep
  template/{% if uses_ast_grep %}.ast_grep{% endif %}/tests/__snapshots__/{% if has_python %}special-method-raises-notimplementederror-snapshot.yml{% endif %}.jinja
  template/{% if uses_ast_grep %}.ast_grep{% endif %}/tests/__snapshots__/{% if not has_python %}.gitkeep{% endif %}.jinja
  template/{% if uses_ast_grep %}.ast_grep{% endif %}/tests/{% if has_python %}special-method-raises-notimplementederror-test.yml{% endif %}.jinja
  template/{% if uses_ast_grep %}.ast_grep{% endif %}/tests/{% if not has_python %}.gitkeep{% endif %}.jinja
Due: yamllint

Document disabled ruff checks
  .copier-answers.yml
  pyproject.toml
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
Due: yamllint, tombi-lint, tombi-format

Improve tool detection
  .copier-answers.yml
  extensions/extensions.py
  tests/extensions_test.py
Due: yamllint

Update uv
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: yamllint, tombi-lint, tombi-format

Update deps
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  extensions/extensions.py
  package-lock.json
  package.json
  pyproject.toml
  template/{% if uses_github_actions %}.github{% endif %}/workflows/ci.yml.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  uv.lock
Due: npm-lock, yamllint, tombi-lint, tombi-format

Add more tests
  .copier-answers.yml
  .template_files/uv_latest_python.py
  .template_files/uv_update_deps_internal.py
  template/.template_files/{% if uses_uv %}uv_latest_python.py{% endif %}.jinja
  template/.template_files/{% if uses_uv %}uv_update_deps_internal.py{% endif %}.jinja
  template_files
  tests/uv_latest_python_test.py
  tests/uv_update_deps_internal_test.py
Due: yamllint

Deduplicate template_files
  .copier-answers.yml
  .template_files/npm_post_install
  template/.template_files/{% if uses_npm %}npm_post_install{% endif %}.jinja
Due: yamllint

Update deps
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  extensions/extensions.py
  package-lock.json
  pyproject.toml
  uv.lock
Due: npm-lock, yamllint, tombi-lint, tombi-format

Update deps
  .copier-answers.yml
  .github/workflows/ci.yml
  .nvmrc
  .pre-commit-config.yaml
  extensions/extensions.py
  package-lock.json
  package.json
  pyproject.toml
  template/{% if uses_github_actions %}.github{% endif %}/workflows/ci.yml.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  uv.lock
Due: npm-lock, yamllint, tombi-lint, tombi-format

Update deps
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  extensions/extensions.py
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: npm-lock, yamllint, tombi-lint, tombi-format

Update deps
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  extensions/extensions.py
  package-lock.json
  package.json
  pyproject.toml
  template/{% if uses_github_actions %}.github{% endif %}/workflows/ci.yml.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  uv.lock
Due: npm-lock, yamllint, tombi-lint, tombi-format

Set ignore-scripts in npm
  .copier-answers.yml
  .npmrc
  template/{% if uses_npm %}.npmrc{% endif %}.jinja
Due: yamllint

Update deps
  .copier-answers.yml
  .github/workflows/ci.yml
  .nvmrc
  .pre-commit-config.yaml
  .python-version
  extensions/extensions.py
  package-lock.json
  package.json
  pyproject.toml
  template/{% if uses_github_actions %}.github{% endif %}/workflows/ci.yml.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  uv.lock
Due: npm-lock, yamllint, tombi-lint, tombi-format

Stop nvm from consuming too many flags
  .copier-answers.yml
  .pre-commit-config.yaml
  .template_files/bats
  .template_files/npm_install_deps
  .template_files/npm_update_deps
  extensions/extensions.py
  template/.template_files/{% if uses_bats %}bats{% endif %}.jinja
  template/.template_files/{% if uses_npm %}npm_install_deps{% endif %}.jinja
  template/.template_files/{% if uses_npm %}npm_update_deps{% endif %}.jinja
  template/{% if uses_pre_commit %}.pre-commit-config.yaml{% endif %}.jinja
  tests/extensions_test.py
Due: yamllint

Fix sort order in pyproject.toml
  .copier-answers.yml
  template/{% if uses_uv %}pyproject.toml{% endif %}.jinja
  tests/install_test.bats
Due: yamllint

Path conditions:
  npm-lock: any of: ^(package\.json|package-lock\.json)$
  copier-forbidden-files: any of: \.rej$
  eslint: any of: \.(js|mjs|cjs)$
  htmlvalidate: any of: \.(html|htm|xhtml)$
  stylelint: any of: \.css$
  markdownlint: any of: \.(md|markdown|mdown)$
  yamllint: any of: \.(yaml|yml)$
  tombi-lint: any of: \.toml$
  tombi-format: any of: \.toml$
